@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-cf-blue: #004AC7;
  --color-cf-blue-light: #B9D9F0;
  --color-cf-blue-dark: #101828;

  --font-paytone: 'Paytone One', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-serif: 'Bitter', serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}